################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SMART/.vs
/SMART/SMART/appsettings.Development.json
/SMART/SMART/appsettings.json
